# https://editorconfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[{*.json,*.md,*.yml}]
indent_size = 2
indent_style = space

[*.{kt,kts}]
indent_size=2
continuation_indent_size=4
kotlin_imports_layout=ascii