# # Ignore everything by default
*

# allow git to see the .config directory
!.config/

# ----------------------------------------
# git itself
!.gitignore
!.config/git/
!.config/git/**
.config/git/config-*

# ----------------------------------------
# ghostty
# allow git to see the ghostty directory
!.config/ghostty/
# don't ignore anything in this directory
!.config/ghostty/**

# ----------------------------------------
# nushell
!.config/nushell/
!.config/nushell/**
.config/nushell/history.txt

# ----------------------------------------
# fish
!.config/fish/
!.config/fish/**
.config/fish/fish_variables
!.config/fish/functions/
!.config/fish/functions/**
.config/fish/functions/caperwt.fish

# ----------------------------------------
# zsh
!.config/zsh/
!.config/zsh/**
.config/zsh/.zsh_sessions

# ----------------------------------------
# ai rules
!.ai/
!.ai/**

# ----------------------------------------
# firebender
!.firebender/
!.firebender/**

# ----------------------------------------
# karabiner
!.config/karabiner/
!.config/karabiner/**
.config/karabiner/karabiner-kt/

# ----------------------------------------
# vim
!.vim/
!.vim/pack/
!.vim/pack/**

# ----------------------------------------
!.config/starship.toml
!.config/.ripgreprc
!notes/