*

# *include* the following directories (i.e. don't .gitignore them)
!.config/fish/**
!.config/ghostty/**

!.warp/
!.warp/themes

!notes/obsd/templates
!notes/obsd/.obsidian/snippets

!.vim/
!.vim/pack/**

# ignore (again) if included prev
.config/fish/fish_variables
