.claude/**
!.claude/CLAUDE.md
!.claude/commands
!.claude/skills
!.claude/plans

.config/git/config-*
# ignore global git ignore file to prevent claude from modifying it
#.config/git/ignore
.config/nushell/history.txt
.config/nushell/secrets.nu
.config/nushell/vendor
.config/fish/conf.d/gohan.fish
.config/fish/fish_variables
.config/fish/functions/caperwt.fish
# we maintain karabiner in a separate repo
.config/karabiner
.config/zed/prompts
.config/zed/conversations
.config/zsh/.zsh_sessions
.firebender/history
.firebender/*log.txt
.firebender/worktrees/**
.profile
