body {
  --h1-size: 1.25rem;
  --h2-size: 1.1rem;

  --h1-color: var(--color-orange);
  --h2-color: var(--color-yellow);
  --h3-color: var(--color-green);

  --list-indent: 2em;
  --list-spacing: 0.09em;
}

.is-mobile .markdown-rendered ul.contains-task-list,
ul.contains-task-list {
  padding-left: 0;
}

ul.contains-task-list > li {
  padding: 0.4rem 0;
}
ul.contains-task-list > li:nth-child(odd) {
  background-color: var(--background-secondary);
}

.tasks-backlink {
  white-space: nowrap;
  font-weight: bold;
  font-size: 0.7rem;
  text-decoration: none;
}
.task-extras .tasks-backlink,
.task-extras .tasks-backlink a
{
  color: var(--text-muted) !important;
  padding: 0.5rem 0;
}

.tasks-edit {
  display: none;
}


.HyperMD-header.HyperMD-header-2.cm-line .cm-header.cm-header-2.cm-hmd-internal-link {
  color: var(--h2-color);
  text-decoration: underline;
}
