
/*!* left padding on general tasks*!*/
body {
    --list-edit-offset: 0em;
}

/* reduce padding for tasks inside query + checkbox */
.markdown-rendered ul,
.markdown-rendered ol {
    padding-inline-start: 0.5rem;
}

.is-mobile .markdown-rendered div>ul,
.is-mobile .markdown-rendered div>ol {
    padding-inline-start: 0rem;
}

/* align the input checkbox insider query resultss*/
.markdown-source-view.mod-cm6 .contains-task-list.plugin-tasks-query-result .task-list-item-checkbox,
.contains-task-list.plugin-tasks-query-result ul>li.task-list-item .task-list-item-checkbox,
.is-mobile .markdown-source-view.mod-cm6 .contains-task-list.plugin-tasks-query-result .task-list-item-checkbox,
.is-mobile .contains-task-list.plugin-tasks-query-result ul>li.task-list-item .task-list-item-checkbox {
    right: 0.4rem;
}

.tasks-count {
    font-weight: bold;
    padding-inline-start: 0;
}

/* format the backlink in a task */
.tasks-backlink {
    white-space: nowrap;
}

.task-extras .tasks-backlink,
.task-extras .tasks-backlink a {
    color: var(--text-faint) !important;
}

/* format the dates displayed in a task */
.task-due,
.task-scheduled {
    color: var(--text-faint);
}

/* remove edit icon for tasks */
.tasks-edit {
    display: none
}
